.intro-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 4em 0;
    padding: 2em;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1em;
    box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
}


.profile-pic {
    /* position: relative; */
    height: 10em;
    width: 10em;
    object-fit: cover;
    border-radius: 100%;
    padding-top: 1em;
    /* transition: all 0.3s; */
}

/* .profile-img-container::after {
    content: "";
    display: block;
    position: absolute;
    background-color: var(--carrot);
    top: 0px;
    left: 6px;
    width: 10em;
    height: 10em;
    border-radius: 100%;
    z-index: -1;
    transition: transform .5s ease-in-out;
}

.profile-img-container:hover::after {
    transform: translate(5px, -3px);
} */

.intro {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    text-align: center;
    margin: 0.6rem;
}

.name {
    font-weight: 500;
}

.info {
    font-weight: 300;
    letter-spacing: 1px;
    margin: 0em;
    padding: 1em;
    text-align: center;
}

.skills-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
    width: 70%;
}

.icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;
    margin: 5px 5px;
    font-size: 0.9rem;
    font-weight: 500;
    box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
    border-radius: 10px;
    background-color: white;
}

.icon-title {
    padding: 0 5px;
}

.icon-div>svg {
    height: 25px;
    width: 25px;
}

@media(max-width: 800px){
    .intro{
        font-size: 2em;
    }
    .info{
        font-size: 0.9em;
    }
    .icon-title{
        font-size: 0.9em;
    }
    .icon-div>svg{
        height: 20px;
        width: 20px;
    }
    .icon-div{
        padding: 0 10px;
    }
    .skills-div{
        width: 100%;
    }
}